<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Search Website</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xM6l+gzy" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-iBBGRzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjptAGm7tMRN8pE57pZp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Optional: Add the jQuery CDN link (required for Bootstrap's JavaScript) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSS_GFpoO/2T3T3TzF4w4wPEtv1j8p7D4/1LXVD+aiteePzJ8MvK" crossorigin="anonymous"></script>
    <title>JobHunt</title>
    <!-- Bootstrap JavaScript -->
    <script src="https://kit.fontawesome.com/a0684f48ab.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-882D6HD5gl/I7blG4CrxAVfPWULRlwFLGzgI5/Zr59xorG7YwYxx1Tb6htoRO3E3" crossorigin="anonymous"></script>


    <style>
        .rounded-corners {
            border-radius: 10px;
        }

        .quote {
            font-style: italic;
            margin-left: 2rem;
            margin-right: 2rem;
        }

        .line {
            border-top: 1px solid #ccc;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>
<!-- Top Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Job Search</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link btn btn-primary rounded-corners" href="#">APPLY NOW</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Main Content -->
<div class="container text-center">
    <h1>Find Your Dream Job</h1>
    <p class="lead">Search and apply to the latest job openings at top companies</p>

    <img src="/images/job-search.jpg" class="img-fluid float-right rounded-corners" alt="Job Search Image">

    <button class="btn btn-success rounded-corners">Search Jobs</button>

    <blockquote class="quote">
        <p>"I found my dream job through this website, and I couldn't be happier!"</p>
        <footer>- Happy Job Seeker</footer>
    </blockquote>
    <hr class="line">
    <blockquote class="quote">
        <p>"The job search process was so easy and efficient. Highly recommended!"</p>
        <footer>- Satisfied User</footer>
    </blockquote>
    <hr class="line">
</div>

<!-- Optional: Add the jQuery CDN link (required for Bootstrap's JavaScript) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSS_GFpoO/2T3T3TzF4w4wPEtv1j8p7D4/1LXVD+aiteePzJ8MvK" crossorigin="anonymous"></script>

<!-- Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xM6l+gzy" crossorigin="anonymous"></script>
</body>
</html>
