<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSS_GFpoO/2T3T3TzF4w4wPEtv1j8p7D4/1LXVD+aiteePzJ8MvK" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a0684f48ab.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/styled.css" />
    <title>Software Developer Internship</title>

    <style>
        html, body {
            height: 100%;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f8f9fa;
        }

        .section-divider {
            border-bottom: 2px solid rgba(0, 0, 0, 0.2);
            margin: 2rem 10%;
            width: 80%;
        }

    </style>

</head>
<body>

<!--  Nav section -->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-3 mb-4 border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><strong>jobHunt</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials">Testimonials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#quals">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
                <div class="d-flex ms-auto">
                    <a href="information">
                        <button type="button" class="btn btn-primary">Apply Now!</button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>

<!-- Hero -->
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <div class="background-overlay">
            <h1 class="display-4"><strong>Software Developer Internship</strong></h1>
            <p class="lead location-duration"><i class="fa-solid fa-map-location-dot fa-sm"></i><strong> Seattle, WA </strong></p>
            <p class="lead location-duration"><i class="fa-solid fa-clock fa-sm"></i><strong> 12 Weeks (Paid) </strong></p>
        </div>
    </div>
    <img src='images/devNagyCodingBG.jpg' alt="Background image" class="background-image">
</div>

<!-- Job Description Section -->
<div class="section-divider">
<section class="container my-5" id="about">
    <h2 class="text-center mb-4">Job Description</h2>
    <p>
        We are looking for a talented and motivated software developer intern to join our team. In this role, you will work closely with experienced developers on various projects and tasks, learning valuable skills and gaining hands-on experience in the software development industry.
    </p>
    <p>
        The ideal candidate will have a strong foundation in computer science, be passionate about technology, and eager to learn and grow as a software developer. If this sounds like you, we would love to hear from you!
    </p>
</section>
</div>

<div class="section-divider">
    <section class="container my-5">
        <h2 class="text-center mb-4">Responsibilities</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body border border-primary border-4">
                        <div class="text-center">
                            <div class="card-title"><span class="fa-solid fa-laptop-code fa-2xl responsibility-icon" aria-hidden="true"></span></div>
                            <p class="card-text">Assist with the development and maintenance of software applications</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body border border-primary border-4">
                        <div class="text-center">
                            <div class="card-title"><span class="fa-solid fa-bug-slash fa-2xl responsibility-icon" aria-hidden="true"></span></div>
                            <p class="card-text">Primarily focused IOS & Android development</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body border border-primary border-4">
                        <div class="text-center">
                            <div class="card-title"><span class="fa-solid fa-mug-saucer fa-2xl responsibility-icon" aria-hidden="true"></span></div>
                            <p class="card-text">Learn and adapt to new technologies and tools</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-5">
                    <div class="card-body border border-primary border-4">
                        <div class="text-center">
                            <div class="card-title"><span class="fa-solid fa-code-fork fa-2xl responsibility-icon" aria-hidden="true"></span></div>
                            <p class="card-text">Participate in code reviews and contribute to the improvement of code quality</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-5">
                    <div class="card-body border border-primary border-4">
                        <div class="text-center">
                            <div class="card-title"><span class="fa-solid fa-network-wired fa-2xl responsibility-icon" aria-hidden="true"></span></div>
                            <p class="card-text">Communicate effectively with team members and project stakeholders</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<!-- Team BIO -->
<div class="section-divider">
<section class="container my-5" id="quals">
    <h2 class="text-center mb-4">About Us</h2>
    <div class="row">
        <div class="col">
            <p>
                The products we build have a positive impact on people's lives and the world around us. If you are just starting your
                journey in software development, or if you are a seasoned pro, we have a place for you here. Our apps are
                used all around the world, so you will have an opportunity here to learn and grow in an environment where
                millions of people every day interact with our technology.
            </p>
            <p>
                Our top paid CEOs don't rake in the cash at your expense, and our
                shareholders only get a dividend. This enables us to pay our employees
                with the best wages and benefits imaginable. We don't offer merely
                "competitive" wages, we pay each employee the largest cut of the product of their labor.
                Also, unlike our competitors, we don't manipulate our users or sell their data
                to stay in business. Truly a cutting edge company, you will love working here.
            </p>
        </div>
    </div>
</section>
</div>

<!-- Testimonials Section -->
<div class="section-divider">
<section class="container my-5" id="testimonials">
    <h2 class="text-center mb-4">Meet Our Team</h2>
    <div class="row">
        <div class="col">
            <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <p>Come work for a company where all of our teams enjoy the autonomy to do their own decision-making."</p>
                        <small>- Sara, CEO</small>
                        <br><br>
                        <p>"This company is unique, we all own the efforts of our labor, upper management exist only to facilitate our success."</p>
                        <small>- Marshall, President</small>
                        <br><br>
                        <p>"Everyone makes a difference here, we are constantly improving and evolving." </p>
                        <small>- Helin, Senior Developer</small>
                    </div>
<!--                    <div class="carousel-item">-->
<!--                        <p>"Everyone makes a difference here, we are constantly improving and evolving." </p>-->
<!--                        <small>- Helin, Senior Developer</small>-->
<!--                    </div>-->
                </div>
                <a class="carousel-control-prev" href="#testimonialCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#testimonialCarousel" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>
</div>
<div class="d-flex justify-content-center mb-4">
    <a href="information">
        <button type="button" class="btn btn-primary">Apply Now!</button>
    </a>
</div>

<!-- Footer -->
<footer class="bg-primary text-white py-4">
    <div class="container">
        <div class="row justify-content-between align-items-start">
            <div class="col-md-3">
                <h5>devNull</h5>
                <p>1234 Address St<br>City, State 56789</p>
            </div>
            <div class="col-md-3">
                <h5>Connect with us</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white"><i class="fab fa-facebook-square"></i> Facebook</a></li>
                    <li><a href="#" class="text-white"><i class="fab fa-twitter-square"></i> Twitter</a></li>
                    <li><a href="#" class="text-white"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                    <li><a href="#" class="text-white"><i class="fab fa-instagram-square"></i> Instagram</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Navigation</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white"><i class="fab fa-solid fa-house"></i> Home</a></li>
                    <li><a href="#" class="text-white"><i class="fa-solid fa-file-lines"></i> Job Info</a></li>
                    <li><a href="#" class="text-white"><i class="fa-solid fa-user-secret"></i> Duties</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Company Information</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white"><i class="fa-solid fa-info-circle"></i>  About Us</a></li>
                    <li><a href="#" class="text-white"><i class="fa-solid fa-users"></i> Our Team</a></li>
                    <li><a href="#" class="text-white"><i class="fa-solid fa-envelope"></i>  Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Font Awesome -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/js/all.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+KnujslK20ltk5hqp6p7w6zsz5l/5B5gb5R5g5Q0z5lq3K" crossorigin="anonymous"></script>
</body>
</html>
