.jumbotron {
    background-image: url('devNagyCodingBG.jpg');
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

.jumbotron h1 {
    color: black;
}

 .black-text {
     color: black;
 }

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.no-top-margin {
    margin-top: 0 !important;
}