.jumbotron {
    background-size: cover;
    background-position: center;
    min-height: 300px;
}

.jumbotron h1 {
    color: whitesmoke;
}

.jumbotron p {
    color:whitesmoke;
}

.jumbotron:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    z-index: 1;
}

.jumbotron.jumbotron-fluid {
    background-image: url('images/devNagyCodingBG.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.background-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
    z-index: 1;
}

.location-duration {
    color: #ffffff;
}

.location-duration .fa-solid {
    color: #ffffff;
}

.container {
    position: relative;
    z-index: 2;
}
.text-center {
    text-align: center;
}

.responsibility-icon {
    color: #007bff;
}

.nav-icon-link {
    color: #ffffff;
}

.nav-icon {
    color: #ffffff;
}

.fa-solid {
    color: #ffffff;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.no-top-margin {
    margin-top: 0 !important;
}

.fa:hover {
    opacity: 0.7;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 24px;
    text-align: center;
}

.section-divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 24px 0;
}
